
@{
    ViewData["Title"] = "الاصناف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content dark-edition">
        <div class="container-fluid">

            <div class="container alignright" style="margin:2% 0;">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center wow fadeInDown">
                            <label class="mb-2"> </label>
                            <button type="button" class="btn btn-success btnwidth" style="text-align:center; width:100%;" data-toggle="modal" data-target="#CategoriesModal">اضافة  جديد <i class='material-icons'>add</i> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary" style="text-align:right">
                            <h4 class="card-title ">الاقسام</h4>
                            <p class="card-category">جدول لعرض الاقسام داخل التطبيق</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="text-align: right;">
                                <table class="table table-hover">
                                    <thead class=" ">
                                        <tr> 
                                            <th scope="col">الصورة</th> 
                                            <th scope="col">رقم الصنف</th> 
                                            <th scope="col">اسم الصنف</th> 
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableCategories">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="CategoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dark-edition">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اضافة جديد</h5>
                <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:155%">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row col-md-12 alignright">
                        <label class="text-primary">اختيار صورة</label>
                        <input type="file" placeholder="اختيار الصورة" class=" alignright" autocomplete="off" name="imageca" id="imageca" />
                    </div>
                    <div class="form-group col-md-9  alignright">
                        <label class="text-primary">اسم الصنف</label>
                        <input type="text" id="CategoriesName" autocomplete="off" name="CategoriesName" class="form-control alignright" placeholder="اكتب اسم الصنف" />

                    </div>
                    <div class="form-group col-md-3  alignright">
                        <label class="text-primary">رقم الصنف</label>
                        <input type="text" id="No" autocomplete="off" name="No" class="form-control alignright" placeholder="اكتب رقم الصنف" />

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success" id="save">حفظ</button>
            </div>
        </div>
    </div>
</div>
<div id="mydiv">
    <script>

        $(document).ready(function () {
            call_ajax("GET", "Categories/GetAll", null, filltableCategories);
        });
        $("#save").on("click", (e) => {
            e.preventDefault(); 
            var object = {
                CategoriesId: _categoriesId,
                Image: $("#imageca").val(), 
                CategoriesName: $("#CategoriesName").val(),
                No: $("#No").val(),
            };
             
            if (object.CategoriesName === "" || object.CategoriesName.trim() === "") {
                md.showNotification("رجاءا ادخل اسم الصنف ");
                return;
            }
            if (object.No === "" || object.No.trim() === "") {
                md.showNotification("رجاءا ادخل رقم الصنف ");
                return;
            }

            call_ajax("POST", "Categories/Post", object, aftersaveCategories);
        });

    </script>
</div>




