@{
    ViewData["Title"] = "دردشة";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
} 
<style>
    .dr {
        border-radius: 15px;
        background-color: #029eb1;
         width: 40%;
        margin-left: 60%;
        max-width: 40%;
        margin-bottom: 4px;
        float: right;
        padding: 1%;
        color: #fff;
        text-align: right;
    }

    .dl {
        border-radius: 15px;
        background-color: #202940;
        /*   width: 40%;*/
        max-width: 40%;
        margin-bottom: 4px;
        margin-right: 60%;
        float: left;
        padding: 1%;
        color: #fff;
        text-align: right;
    }

    .r {
        float: right;
        width: 100%;
    }

    .l {
        float: left;
        width: 100%;
    }

    .btntrash {
        float: right;
        margin-right: 3%;
        display: none;
    }

    .date {
        display: none;
    }

    .check {
        font-size: 150%;
        /* font-weight: bold;
            color: #57cbcc;
            margin-top: 2%;*/
        float: right;
        margin-left: 3%;
    }
</style>
<section class="session_chat    card">
    <div class="chatwidth " style="">
        <div class="card-header card-header-info  row" style="text-align:right">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <a class="" onclick="call_Action('Home/Index')">  <i class="icon material-icons">arrow_back</i></a>
            </div> 
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <a class="" onclick="call_Action(GetMessageList())" data-toggle='modal' data-target='#messagemodel'><i class="icon material-icons" >messages</i></a>
            </div>
            <div id="userchatinfoid" class="col-lg-9 col-md-9 col-sm-9 col-xs-9 "  >
            </div> 
        </div> 
    </div> 
    <div class="card-body"></div>
    <div id="messges" class="chatmassagewidth container text-center" style="  height: 90%;   overflow: visible; background-color: transparent;">
    </div>
</section>
<section class="card" style="position:fixed; top:82%; left:0px; width:100%; ">

    <div class="card-body"></div>
    <div class="chatwidth" style="">
        <div class="text-center  card-header card-header-info  ">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" style="margin-left:10%;  " class="bo form-control alignright" autocomplete="off" name="messagetext" id="messagetext" placeholder="اكتب رسالتك"> 
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left:6%">
                    <button id="sendmessage" type='button' class='btn btn-success btnwidth' > <i class='material-icons'>send</i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="mydiv">
    <script>

        $(document).ready(function () {
            call_ajax("GET", "Chat/GetMessageChatForWeb", null, GetMessagechat);
        });
        var input = document.getElementById("messagetext");

        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#sendmessage").click();
            }
        });

        $("#sendmessage").on("click", (e) => {
            e.preventDefault();
            var object = {
                message: $("#messagetext").val(),
            };
            if (object.message === "" || object.message.trim() === "") {
                return;
            }
            call_ajax("POST", "Chat/SendMessage", object, RefreshChat);
            $("#messagetext").val("");
        });

    </script>
</div>