
@{
    ViewData["Title"] = "المنتجات";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<div class="content">
    <div class="content dark-edition">
        <div class="container-fluid"> 
            <div class="container alignright" style="margin:2% 0;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">بحث عن الاسم</label>
                        <input type="text" class="form-control alignright" placeholder="اكتب الاسم" name="namese" id="namese">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">الصنف</label>
                        <select class="form-control alignright" style="background-color: #1a2035;" name="CategoriesIdse" id="CategoriesIdse">
                        </select>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">ترتيب حسب المنتج</label>
                        <select class="form-control alignright" style="background-color: #1a2035;" name="SortOrder" id="SortOrder">
                            <option value="desc">من الأحدث إلى الأقدم</option>
                            <option value="asc">من الأقدم إلى الأحدث</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <label class="mb-2">المنتجات التي لا تحتوي على صور</label>
                         <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" id="ConatinImage">
                            <span class="form-check-sign">
                            <span class="check"></span>
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center wow fadeInDown" style="text-align:left;">
                            <label class="mb-2"> </label>
                            <button type="button" id="search-btn" class="btn btn-info btnwidth" style="text-align:center; width:100%;">بحث <i class='material-icons'>search</i>  </button>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="text-center wow fadeInDown">
                            <label class="mb-2"> </label>
                            <button type="button" class="btn btn-success btnwidth" style="text-align:center; width:100%;" data-toggle="modal" data-target="#ProductsModal">اضافة  جديد <i class='material-icons'>add</i> </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary" style="text-align:right">
                            <h4 class="card-title ">المنتجات</h4>
                            <p class="card-category">جدول لعرض المنتجات داخل التطبيق</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="text-align: right;">
                                <table class="table table-hover">
                                    <thead class=" ">
                                        <tr> 
                                            <th scope="col">خصم</th> 
                                            <th scope="col">نسبة الخصم</th> 
                                            <th scope="col">الصنف</th> 
                                            <th scope="col">كمية</th> 
                                            <th scope="col">السعر</th> 
                                            <th scope="col">الرابط</th> 
                                            <th scope="col">التفاصيل</th> 
                                            <th scope="col">الاسم</th> 
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableProducts">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav aria-label="Page navigation example" style="margin:auto 50%;">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" id="prev" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#" id="indexid">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#" id="next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="ProductsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content dark-edition">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">اضافة جديد</h5>
                <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:155%">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6  alignright">
                        <label class="text-primary">التفاصيل</label>
                        <input type="text" id="Detail" autocomplete="off" name="Detail" class="form-control alignright" placeholder="اكتب التفاصيل" />
                    </div>
                    <div class="form-group col-md-6  alignright">
                        <label class="text-primary">اسم</label>
                        <input type="text" id="Name" autocomplete="off" name="Name" class="form-control alignright" placeholder="اكتب اسم المنتج" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12  alignright">
                        <label class="text-primary">الرابط (اختياري)</label>
                        <input type="url" id="Url" autocomplete="off" name="Url" class="form-control alignright" placeholder="اكتب الرابط" />
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-4  alignright">
                        <label class="text-primary">الكمية</label>
                        <input type="number" id="Count" autocomplete="off" name="Count" class="form-control alignright" placeholder="اكتب الكمية" />
                    </div>
                    <div class="form-group col-md-4  alignright">
                        <label class="text-primary">السعر</label>
                        <input type="number" id="Price" autocomplete="off" name="Price" class="form-control alignright" placeholder="اكتب السعر" />
                    </div>
                    <div class="form-group col-md-4  alignright">
                        <label class="text-primary">نسبة الخصم</label>
                        <input type="text" id="DiscountPercentage" autocomplete="off" name="DiscountPercentage" class="form-control alignright" placeholder="اكتب نسبة الخصم" />
                    </div>
                </div>
                <div class="row"> 
                    <div class="form-group col-md-12 text-right">
                        <p>اختيار الصنف</p>
                        <select class="form-control text-right"  style="background-color: #1a2035;" name="CategoriesId" id="CategoriesId">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="row col-md-6 alignright">
                        <label class="text-primary">اختيار صور (متعددة)</label>
                        <input type="file" placeholder="اختيار الصور" class=" alignright" autocomplete="off" name="imageca" id="imageca" multiple accept="image/*"/>
                    </div>
                    <div class="form-group row col-md-6 alignright">
                        <label class="text-primary">رابط صورة خارجي (اختياري)</label>
                        <input type="url" placeholder="ضع رابط الصورة" class="form-control alignright" autocomplete="off" name="ImageUrl" id="ImageUrl" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6  alignright">
                        <label class="text-primary">خصم</label>
                        <div class='form-check col-md-6  alignright'>
                            <label class='form-check-label'>
                                <input class='form-check-input' type='checkbox' id='IsDiscountca'>
                                <span class='form-check-sign'>
                                    <span class='check'></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                <button type="button" class="btn btn-success" id="save">حفظ</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  dark-edition">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">صور المنتجات</h5>
                <button type="button" style="margin-left:10%;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size:155%">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table  table-hover table-bordered text-center">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col">الصورة</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tableImage">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button> 
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AgeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content  dark-edition">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تضمين العمر مع المنتج</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table  table-hover table-bordered text-center">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col">تضمين</th>
                            <th scope="col">العمر</th>
                        </tr>
                    </thead>
                    <tbody id="tableAge">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>
        </div>
    </div>
</div>

<div id="mydiv">
    <script> 
        function selectCategoriesId(data) {
            var s = '<option value="0">اختيار الصنف</option>';
            $('#CategoriesIdse').append(s);
            $('#CategoriesId').append(s);
            $.each(data, function (i, item) {
                var ss = '<option value="' + item.categoriesId + '">' + item.categoriesName + '</option>';
                $('#CategoriesIdse').append(ss);
                $('#CategoriesId').append(ss);
            });
        };
        $(document).ready(function () {
            // Initialize DOM cache
            initializeCache();
            
            // Initialize event delegation
            initializeEventDelegation();
            
            // Load categories
            call_ajax("GET", "Categories/GetAll", null, selectCategoriesId);
            
            // Load initial products
            var obj = { Name: '', CategoriesId: 0, index: 1, ConatinImage: getContainImageStatus(), SortOrder: $('#SortOrder').val() };
            call_ajax("GET", "Products/GetAll", obj, filltableProducts);
            $("#indexid").text(1);
            
            // Modal events
            $('#ProductsModal').on('show.bs.modal', handleProductModalShown);
            $('#ProductsModal').on('hidden.bs.modal', handleProductModalHidden);
        });

        $("#save").on("click", (e) => {
            e.preventDefault();

            var validation = validateProductForm();
            if (!validation.valid) {
                md.showNotification(validation.message);
                return;
            }

            var productData = getProductDataFromForm();
            saveProductWithFiles(productData);
        });

        $("#search-btn").on("click", (e) => {
            e.preventDefault();
            var obj = { 
                Name: $("#namese").val() || '', 
                CategoriesId: $("#CategoriesIdse").val() || 0, 
                index: 1,
                ConatinImage: getContainImageStatus(),
                SortOrder: $('#SortOrder').val()
            };
            call_ajax("GET", "Products/GetAll", obj, filltableProducts); 
            $("#indexid").text(1);
        });

        $("#next").on("click", (e) => {
            e.preventDefault();
            var count = parseInt($("#indexid").text());
            count++;
            var obj = { 
                Name: $("#namese").val() || '', 
                CategoriesId: $("#CategoriesIdse").val() || 0, 
                index: count,
                ConatinImage: getContainImageStatus(),
                SortOrder: $('#SortOrder').val()
            };
            call_ajax("GET", "Products/GetAll", obj, filltableProducts);
            $("#indexid").text(count);
        });

        $("#prev").on("click", (e) => {
            e.preventDefault();
            var count = parseInt($("#indexid").text());
            if (count > 1) {
                count--;
                var obj = { 
                    Name: $("#namese").val() || '', 
                    CategoriesId: $("#CategoriesIdse").val() || 0, 
                    index: count,
                    ConatinImage: getContainImageStatus(),
                    SortOrder: $('#SortOrder').val()
                };
                call_ajax("GET", "Products/GetAll", obj, filltableProducts);
                $("#indexid").text(count);
            }
        });
    </script>
</div>

